@font-face {
    font-family: 'technology';
    src: url(fonts/Technology.ttf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    background: url("img/back2.jpg") no-repeat ;
}

.container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: rgb(219, 219, 219);
  /*  box-shadow: 16px 16px 10px #d7d7d7 ;*/
    border-radius: 20px;
    height: 250px;
    width: 600px;
    display: flex;
    flex-direction: column;
    
   
   
}

.bottons{
    padding: 0  50px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

button{
    height: 30px;
    width: 60px;
    border-radius: 20%;
    background-color: rgb(163, 44, 44);
    color: white;
    border: none;
    transition: 0.5s ease;
    font-weight: 550;
    opacity: 0.9;
}

button:hover{
    transform: scale(1.1);
    opacity: 1;

}

.chrono{
    width: 100%;
    display: flex;
    justify-content: center;
}

.chrono-body{

    background:  linear-gradient(black,  #1E1F29);
    height: 150px;
    width: 550px;
    border-radius: 20px;
    padding:  0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.chrono-body div{
    font-family: 'technology';
    font-size: 90px;
    color: #53EF10;
    padding-right: 10px;
}




